// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }
html body {
  background-color: rgb(240, 185, 92);
}
.btn-edit {
  background-color: $brown;
  border-color: rgb(117, 92, 24)
}
