// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }
html body {
  background-color: rgb(227, 242, 218);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-edit {
  background-color: $brown;
  border-color: rgb(117, 92, 24)
}

