$body-bg: #bdbd21;
$light: blue;
$primary: #155f59;
$secondary: #e90e66;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$blue: blue;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$moss: #45682B;
$russianGreen: #6F8C5C;
$indigo: #1D4447;
$russet: #7A5213;
$brown:#A67D1B;
$gold: #CBA447;


$colors: (
  "blue": $blue,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "moss": $moss,
  "russianGreen": $russianGreen,
  "indigo": $indigo,
  "russet": $russet,
  "brown": $brown,
  "gold": $gold
) !default;
