$body-bg: #bdbd21;
$light: blue;
$primary: #155f59;
$secondary: #e90e66;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: rgb(252, 192, 174);

$blue: blue;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$moss: rgb(178, 233, 136);
$russianGreen: rgb(125, 167, 97);
$indigo: rgb(115, 129, 115);
$russet: rgb(83, 102, 85);
$brown:rgb(227, 242, 218);
$gold: rgb(218, 178, 87);


$colors: (
  "blue": $blue,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "info": $info,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "moss": $moss,
  "russianGreen": $russianGreen,
  "indigo": $indigo,
  "russet": $russet,
  "brown": $brown,
  "gold": $gold
) !default;
